*{
    margin: 0%;
    height: 100%;
}
.main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;   
}
#button{
    width: 20%;
    flex: 10;
    background-color: #3498DB;
}
#first{
    flex:150;
}
